@color-main: #ffffff;
@color-main--active: rgba(255, 255, 255, 0.3);
@color-text: #333333;
@color-text--dark: #000000;
@color-text--active: rgba(0, 0, 0, 0.3);
@color-secondary: #81b3d2;
@color-secondary--dark: #669ec0;
@color-gray: #eeeeee;
@color-gray--light: #e5e5e5;
@color-gray--dark: #d6d6d6;
@color-gray--video: #f2f2f2;
@color-controls: #5c6870;
@color-dark: rgba(0, 0, 0, 0.6);
@color-shadow: rgba(0, 0, 0, 0.2);
@color-light: rgba(255, 255, 255, 0.2);
@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
