.btn {
  display: block;
  padding: 15px 0 17px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  color: @color-main;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: @color-secondary;

  &:hover {
    background-color: @color-secondary--dark;
  }

  &:active {
    color: @color-main--active;
    background-color: @color-secondary--dark;
  }

  &--review-settings {
    width: 280px;
    margin: 0 auto;
  }
}
