.btn {
  display: block;
  padding: 15px 0 17px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  color: @color-main;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: @color-secondary;

  &:hover {
    background-color: @color-secondary--dark;
  }

  &:active {
    color: @color-main--active;
    background-color: @color-secondary--dark;
  }

  &--review-settings{
    width: 280px;
    margin: 0 auto;
  }

  &--modal-error {
    width: 180px;
    margin: 0 50px;
    font-size: 18px;
  }

  &--modal-success {
    width: 280px;
    margin: 0 auto;
    font-size: 18px;
  }
}

@media @tablet-widths {

  .btn--review-settings {
    width: 324px;
    margin: 0;
  }

  .btn--modal-error {
    width: 272px;
    margin: 0 auto;
    font-size: 21px;
  }

  .btn--modal-success {
    width: 458px;
    font-size: 21px;
  }
}

@media @desktop-widths {

  .btn--review-settings {
    width: 480px;
  }
}
