.page-footer {
  width: auto;
  margin-top: 35px;
  background-color: @color-main;
}

.page-footer__title {
  margin-bottom: 37px;
  font-size: 21px;
  line-height: 26px;
  color: @color-text--dark;
  text-align: center;
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
  margin-bottom: 40px;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  line-height: 26px;
  color: @color-text--dark;
}

.page-footer__academy {
  margin-left: 13px;
  font-size: 0;
}

.page-footer__academy-icon {
  fill: @color-text--dark;

  &:hover {
    fill: @color-secondary;
  }

  &:active {
    fill: @color-text--active;
  }
}

@media @tablet-widths {

  .page-footer {
    width: 100%;
    margin-top: 54px;

    &--main {
      margin-top: 18px;
    }
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .container();
    padding: 0 60px 30px;
    box-sizing: border-box;
  }

  .page-footer__title {
    margin: 27px 0 0;
  }

  .page-footer__copyright {
    margin: 26px 0 0;
  }

  .page-footer__social {
    margin: 18px 7px 0 0;
  }
}

@media @desktop-widths {

  .page-footer__wrapper {
    padding: 0 44px 30px;
  }

  .page-footer__title {
    padding-left: 90px;
  }

  .page-footer__social {
    padding-right: 90px;
  }
}
