.page {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: @color-text;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: @color-main;
}
